@model Stok_Proje.Models.Entity.Tbl_Musteriler
@{
    ViewBag.Title = "MusteriEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Müşteri Adı</label>
        @Html.TextBoxFor(x => x.MUSTERIAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.MUSTERIAD, "", new { @style = "color:red" })
    </div>
    <div>
        <label style="margin-top:10px">Müşteri Soyadı</label>
        @Html.TextBoxFor(x => x.MUSTERISOYAD, new { @class="form-control" })
        @Html.ValidationMessageFor(x => x.MUSTERISOYAD, "", new { @style="color:red" })
    </div>
    
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">Müşteri Ekle</button>
    </div>

    <script class="alert-danger">
        $('#btn1').click(function (){
            alert("Müşteri Ekleme İşlemi Yapıldı !")
        });
    </script>
</form>

